/* only style the fonts if viewing on the smaller device */

/*  
  Card for the order list works differently. It will become a 'grid' on mobile, but will become a card if the device is larger
*/
.card_menu{
  border:0;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
  margin-top: 0.5rem;
  cursor: pointer;
  /* "border-0 shadow-sm mt-2 */
}

.card_menu__title{
  color: var(--tp-secondary);
  font-size: 1rem;
}
.card_menu__decsription{
  font-size:0.9rem;
  margin-bottom:0.5rem;
}
.card_menu__image{
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  height:100%;
  object-fit: cover;
}
.card_menu__price{
  font-weight: 700;
  margin-bottom:0;
  font-size: 1.25rem;
}

.bg_unavailable{
  background: var(--bs-gray-200);
}
.text_unavailable{
  color: var(--bs-gray-500) !important;
}

.card_menu__selected{
  border-left:4px solid var(--bs-primary);
}
.card_menu__title__selected{
  color: var(--bs-primary);
}
@media (max-width: 450px){
  .container{
    padding-left:0;
    padding-right:0;
  }
  .row{
    margin-left:0;
    margin-right:0;
  }
  .col{
    margin-top: 0 !important;
    padding-left:0;
    padding-right:0;
  }
  .card_menu{
    border-radius: 0 !important;
    box-shadow:none;
    margin-top:0;
    border-bottom: 1px solid var(--bs-gray-300);
  }
  .card_menu__title{
    margin-bottom: 0.25rem;
  }
  .card_menu__image{
    border-radius: 0;
    /* we need to replicate the same padding as the card-body */
    padding-top:1rem;
    padding-left:1rem;
    height:auto;
  }

}

/* border-bottom-left-radius: 0.25
rem
 !important;
    border-top-left-radius: 0.25
rem
 !important; */