.next-container {
  padding: 20px;
  background: #ffffff;
  border-radius: 6px;
  width: 550px;
}

.check-email-container {
  background: #ffffff;
  border: 2px solid #f0f5f9;
  box-sizing: border-box;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  min-width: 350px;
  min-height: 400px;
  padding: 30px;
}

.check-email-image {
  width: 280px;
  height: 250px;
  margin-bottom: 10px;
}

.skewed {
  height: 100vh;
  background-color: rgba(254, 123, 80, 0.05);
  transform: skew(-10deg);
  min-width: 150vh;
  /*overflow-y: hidden;*/
  position: fixed;
  z-index: -1;
}
.admin-container {
  overflow: hidden;
  height: 100vh;
}

.left-admin-container {
  padding: 51px 0;
}

.form-container {
  padding-top: 230px;
}

.tigerPufflogo {
  padding: 0;
  margin: 0;
}

.admin-input {
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.24);
  border-radius: 8px;
  padding: 12px 6px;
}

.admin-button {
  border-radius: 6px;
}

.admin-checkbox-label {
  font-size: 12px !important;
  font-weight: unset;
}

.form-admin {
  min-width: 400px;
}
.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.content {
  width: calc(100% - 250px);
  position: absolute;
  min-height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
}
.mainview-container {
  margin-top: 70px;
  padding: 15px;
}
.round {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #c6cbd3;
}
/*RESTAURANT*/
.admin__setup__form {
  margin-top: 26px;
  width: 55%;
  height: 80%;
  background: #ffffff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  border-radius: 28px 16px 28px 28px;
  padding: 30px;
  font-family: Open Sans;
  font-style: normal;
}
.admin__setup__form-header {
  padding: 10px;
  font-weight: bold;
  font-size: 35px;
  line-height: 35px;
  color: #000000;
}
.admin__setup__form-body {
  display: flex;
  width: 100%;
  height: 80%;
}
.admin__setup__form-body .col {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color: #797979;
}
.admin__setup__form-body .col > div {
  width: 100%;
  height: 20%;
}
.admin__setup__form-body .col input {
  width: 100%;
  height: 50%;
  background: #ffffff;
  border: 1px solid #797979;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
  outline: none;
}
.admin__setup__form-body .col .city-postal {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.admin__setup__form-body .col .city-postal > div {
  width: 47%;
}
.admin__setup__form-body .col .upload-image {
  width: 100%;
  height: 30%;
}
.admin__setup__form-body .col .upload-image > label {
  width: 100%;
  height: 70%;
  background: #ffffff;
  border: 1px dashed #797979;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin__setup__form-body .col .upload-image > label > span {
  font-size: 50px;
  color: #ccd2e3;
}
.admin__setup__form-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
}
.admin__setup__form-footer > div {
  cursor: pointer;
}
.admin__setup__form-footer button {
  width: 100px;
  height: 30px;
  box-sizing: border-box;
  border-radius: 3px !important;
  margin-left: 5px;
  cursor: pointer;
}
.admin__setup__form-footer button:nth-child(1) {
  background: #ffffff;
  border: 1px solid #c4c4c4;
  color: #c4c4c4;
}
.admin__setup__form-footer button:nth-child(2) {
  background: #fe7b50;
  border: none;
  color: #ffffff;
}
/*END OF RESTAURANT SETUP*/

/* SETUP GUIDE */
.guide-card-container {
  border-radius: 28px 16px 28px 28px;
  min-height: 580px;
  position: relative;
}

.guide-card-list {
  text-align: left !important;
}

.guide-button {
  position: absolute;
  bottom: 27px;
  right: 30px;
  width: 85%;
}
/* END OF SETUP GUIDE */

/*SIDEBAR*/
.sidebar {
  min-width: 250px;
  max-width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #6d6d6d;
  color: #ffffff;
}
.sidebar-header {
  padding: 20px;
  display: flex;
  align-items: center;
  position: relative;
}
.toggle-icon {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 10px;
  font-size: 25px;
}
.sidebar-list {
  display: flex;
  flex-direction: column;
}
.sidebar-item {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.sidebar-link {
  display: flex;
  color: #ffffff;
  align-items: center;
  padding: 5px;
  list-style: none;
  height: 50px;
  text-decoration: none;
  padding-left: 20px;
  position: relative;
}
.sidebar-link:hover {
  background: #8b8b8b;
  cursor: pointer;
  color: #ffffff;
}
.sidebar-title {
  margin-left: 10px;
  font-size: 16px;
}
.sidebar-iconOpenClose {
  position: absolute;
  right: 10px;
}
.sidebar-dropdown-link {
  text-decoration: none;
  color: #ffffff;
  padding-left: 40px;
  height: 40px;
  display: flex;
  align-items: center;
}
.sidebar-dropdown-link:hover {
  background: #8b8b8b;
  cursor: pointer;
  color: #ffffff;
}
.subnav {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  max-height: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  opacity: 0;
}
.subnav.active {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  max-height: 500px;
  opacity: 1;
}
/*END OF SIDEBAR*/

/*NAVBAR*/
.navbar-container {
  position: fixed;
  z-index: 999;
  width: calc(100% - 250px);
  height: 70px;
  background: #eeeeee;
  padding-top: 10px;
  padding-bottom: 10px;
}
.badge {
  width: 50px;
  height: 50px;
  background: #f8f8f8;
  border-radius: 14px;
  color: #828282;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  position: relative;
}
.badge > span {
  position: absolute;
  top: 10px;
  left: 30px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fe7b50;
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #c4c4c4;
}
/*END OF NAVBAR*/

/*MENU*/
.sort-icon {
  margin-left: 5px;
  font-size: 10px;
  height: 24px;
  color: #d3d6e4;
}
.descending,
.ascending {
  color: #3e4954;
}
/*END OF MENU*/
@media (max-width: 768px) {
  .admin-container {
    height: auto;
  }
  .skewed {
    display: none;
  }
  .sidebar {
    left: -250px;
  }
  .content {
    width: 100%;
  }
  .navbar-container {
    width: 100%;
  }
  .greeting {
    display: none;
  }
}
